In [5]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [6]:
file_path = "day_2.csv"
df = pd.read_csv(file_path, delimiter=",")  

df.head()

,Unnamed: 0,year,sex,profession,income,age,gdp,avg_income_per_profession,gini,female_percentage,employment rate
0,0,0,F,civil servant,5131.08,40,947610.99,5357.960465,0.604055,0.468,0.516
1,1,0,M,child,0.00,1,947610.99,0.000000,0.604055,0.468,0.516
2,2,0,M,unemployed,124.10,25,947610.99,193.519318,0.604055,0.468,0.516
3,3,0,M,farmer,1868.39,36,947610.99,2182.726575,0.604055,0.468,0.516
4,4,0,F,child,0.00,1,947610.99,0.000000,0.604055,0.468,0.516

Mean Absolute Error: 1.97363820859345e-09
Predicted GDP for year 106: 1049138.28
Predicted GDP for year 107: 1049138.28
Predicted GDP for year 108: 1049138.28
Predicted GDP for year 109: 1049138.28
Predicted GDP for year 110: 1049138.28

In [ ]:
# Load dataset (replace 'your_dataset.csv' with actual file path)
df = pd.read_csv('your_dataset.csv')

# Encode categorical variables
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])
df['profession'] = le.fit_transform(df['profession'])

# Define features and target variable
features = ['year','profession', 'avg_income_per_profession','percentage_of_workforce', 'gini', 'female_percentage', 'employment rate', 'average_age']
target = 'gdp'

X = df[features]
y = df[target]

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train Random Forest model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Evaluate model
predictions = model.predict(X_test)
mae = mean_absolute_error(y_test, predictions)
print(f'Mean Absolute Error: {mae}')

# Forecasting the next 5 years
future_years = [max(df['year']) + i for i in range(1, 5)]
future_data = pd.DataFrame({
    'year': future_years,
    'profession': df['profession'],
    'avg_income_per_profession': [21.95, 21.96666667, 22.18333333, 22.18333333, 22.125],  
    'percentage_of_workforce' : [],
    'gini': [80.91666667, 76.75, 72, 81.91666667,79.58333333],
    'female_percentage': [15.08333333, 17, 17.25, 15.08333333, 14.83333333],
    'employment rate': [15.08333333, 17, 17.25, 15.08333333, 14.83333333] ,
    'average_age' : []
})

# Predict GDP for future years
future_gdp_predictions = model.predict(future_data)

# Display results
future_data['predicted gdp'] = future_gdp_predictions
print(future_data)